//SCSS
//Font Roboto Flex
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Lato&display=swap');

body {
  background-color: #414535;
}

#main-wrapper {
  background-color: #FFFFFF;
  margin: auto;
  margin-top: 100px;
  width: 1200px;
  height: 550px;
  text-align: center;
  #title{
    font-family: Roboto Flex, monospace;
    font-size: 40px;
  }
}

.dot {
  stroke: #000000;
}

.tooltips {
  display: block;
  position: absolute;
  height: auto;
  width: auto;
  background-color: #96BBBB;
  box-shadow: 1px 1px 5px;
}

.legend {
  display: inline-block;
  position: absolute;
  height: auto;
  width: auto;
  background-color: #C19875;
  box-shadow: 1px 1px 0px;
}
